openapi: 3.0.3
info:
  title: DocuConvert API
  description: |
    A powerful, secure, and multi-format document conversion API.
    
    Convert between PDF, Word, Excel, PowerPoint, and Jupyter Notebooks with ease. All converted files automatically receive custom metadata and are stored temporarily for 1 hour.
  version: 1.0.0
  contact:
    name: AMWP Support
servers:
  - url: https://docuconvert.afifmedya.my.id/api
    description: Local Development Server

tags:
  - name: Conversion
    description: Document conversion operations
  - name: File Management
    description: File metadata and download operations

paths:
  /convert/{type}:
    post:
      tags:
        - Conversion
      summary: Convert a document
      description: |
        Uploads a file and converts it to the requested format.
        
        Valid combinations:
        - `word-to-pdf`: Accepts `.doc`, `.docx`
        - `excel-to-pdf`: Accepts `.xls`, `.xlsx`
        - `ppt-to-pdf`: Accepts `.ppt`, `.pptx`
        - `pdf-to-word`: Accepts `.pdf`
        - `pdf-to-excel`: Accepts `.pdf`
        - `pdf-to-ppt`: Accepts `.pdf`
        - `ipynb-to-pdf`: Accepts `.ipynb`
        - `merge-pdf`: Accepts multiple `.pdf`
        - `split-pdf`: Accepts `.pdf`
        - `remove-pages`: Accepts `.pdf` and requires `options`
        - `extract-pages`: Accepts `.pdf` and requires `options`
        - `image-to-pdf`: Accepts multiple images (`.jpg`, `.jpeg`, `.png`) and optional `options` JSON string.
      operationId: convertDocument
      parameters:
        - name: type
          in: path
          required: true
          description: The type of conversion to perform.
          schema:
            type: string
            enum:
              - word-to-pdf
              - excel-to-pdf
              - ppt-to-pdf
              - pdf-to-word
              - pdf-to-excel
              - pdf-to-ppt
              - ipynb-to-pdf
              - merge-pdf
              - split-pdf
              - remove-pages
              - extract-pages
              - image-to-pdf
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: The file(s) to be converted.
                options:
                  type: string
                  description: Additional options, e.g., page numbers for extract-pages or remove-pages.
              required:
                - file
      responses:
        '200':
          description: Conversion successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  id:
                    type: string
                    description: Unique persistent ID for the converted file
                    example: "A1B2C3D4"
                  filename:
                    type: string
                    description: The output filename generated by the server
                    example: "A1B2C3D4_AMWP_document.pdf"
                  downloadUrl:
                    type: string
                    description: Direct link to download the converted file
                    example: "https://docuconvert.afifmedya.my.id/api/download/A1B2C3D4"
        '400':
          description: Bad request (no file uploaded)
        '500':
          description: Internal server error during conversion

  /info/{id}:
    get:
      tags:
        - File Management
      summary: Get file metadata
      description: Retrieves the metadata associated with a previously converted file using its unique ID.
      operationId: getFileInfo
      parameters:
        - name: id
          in: path
          required: true
          description: The unique ID returned from the conversion endpoint.
          schema:
            type: string
      responses:
        '200':
          description: File metadata retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  file:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "A1B2C3D4"
                      filename:
                        type: string
                        example: "A1B2C3D4_AMWP_document.pdf"
                      downloadUrl:
                        type: string
                        example: "https://docuconvert.afifmedya.my.id/api/download/A1B2C3D4"
        '404':
          description: File not found or has expired

  /download/{id}:
    get:
      tags:
        - File Management
      summary: Download converted file
      description: |
        Downloads the binary content of the converted file.
        
        *Note: Files expire and are automatically deleted 1 hour after conversion.*
      operationId: downloadFile
      parameters:
        - name: id
          in: path
          required: true
          description: The unique ID returned from the conversion endpoint.
          schema:
            type: string
      responses:
        '200':
          description: The binary file content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: File not found or has expired
